{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}

{% block title_and_breadcrums %}
	<h2>{{title}}</h2>
	<div class="board">
		<a href="/"><b>Ghanaman Forum</b></a> /
		<a href="{% url breadcrum.link %}"><b>{{ breadcrum.title }}</b></a>
	</div>
{% endblock title_and_breadcrums %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="advertises">
				{% for advertise in advertises %}
					{% if not forloop.counter > 3 %}
						<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
							<img src="{{MEDIA_URL}}{{advertise.image}}">
						</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="board text-left">
				<div class="text-center">
					<div class="pagination">
						<span class="step-links">
							{% for num in comments.paginator.page_range %}
								{% ifequal num comments.number %}
									<span class="current"><b>({{ num }})</b></span>
								{% else %}
									<a href="?page={{ num }}">({{ num }})</a>
								{% endifequal %} 
							{% endfor %}

							(of <b>{{ comments.paginator.num_pages }}</b> page{{comments.paginator.num_pages|pluralize}})
						</span>
					</div>
				</div>
				{% for comment in comments %}
					<div class="board-content board-content-even board-content-first" id="{{comment.id}}">
						{% if is_shared_posts %}
							<p>
								<span class="date"><b>First shared</b> by</span>
								<a href="{% url 'profile' comment.share.user.username %}" class="user">{{comment.share.user.username}}</a>
								<span class="date">at <b>{{comment.share.date|date:"H:i a"}}</b> 
								{% if not breadcrum.link == 'recent' %}
									On <b>{{comment.share.date|date:"M j, Y"}}</b></span>
								{% endif %}
							</p>
						{% endif %}
						<p>
							<img src="{% static 'images/icons/xx.gif' %}">
							<a href="{% url 'board' comment.topic.category.slug %}"><b>{{comment.topic.category.title}}</b></a> <b>/</b>
							<b>
								<a href="{% url 'topic' comment.topic.slug %}#{{comment.id}}">{% if not comment.is_first %}Re: {% endif %}{{comment.topic.subject}}</a>
							</b> by <a href="{% url 'profile' comment.author.username %}" class="user">{{comment.author.username}}</a>: <span class="date"><b>{{comment.date|date:"H:i a"}}</b> 
							{% if not breadcrum.link == 'recent' %}
								On <b>{{comment.share.date|date:"M j, Y"}}</b></span>
							{% endif %}
					</div>
					<div class="board-content board-content-odd board-content-last">
						<p class="no-margin-bottom">{{comment.message|safe}}</p>
						{% include "like_and_share.html" %}
					</div>
				{% empty %}
					{% if is_liked_and_shared %}
						<div class="board-content board-content-even board-content-first board-content-last">
							<p class="no-margin-bottom text-center"><b>None of your posts have been liked or shared yet.</b></p>
						</div>
					{% endif %}

					{% if is_shared_posts %}
						<div class="board-content board-content-even board-content-first board-content-last">
							<p class="no-margin-bottom text-center"><b>You have no shared posts yet.</b></p>
						</div>
					{% endif %}
				{% endfor %}

				<div class="text-center">
					<div class="pagination pagination-bottom">
						<span class="step-links">
							{% for num in comments.paginator.page_range %}
								{% ifequal num comments.number %}
									<span class="current"><b>({{ num }})</b></span>
								{% else %}
									<a href="?page={{ num }}">({{ num }})</a>
								{% endifequal %} 
							{% endfor %}

							(of <b>{{ comments.paginator.num_pages }}</b> page{{comments.paginator.num_pages|pluralize}})
						</span>
					</div>
				</div>
				{% if is_following %}
				<div class="text-center">
					<div class="board-content board-content-odd board-content-first">
						<b>Following ({{followings|length}}):</b>
					</div>
					<div class="board-content board-content-even board-content-last">
						{% for following in followings %}
							<a href="{% url 'profile' following.follower.user.username %}" class="user">{{following.follower.user.username}}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}
					</div>
				</div>
				{% endif %}
			</div>
			<div class="advertises">
				{% for advertise in advertises reversed %}
					{% if not forloop.counter > 3 %}
						<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
							<img src="{{MEDIA_URL}}{{advertise.image}}">
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.like').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', like: self.attr('like')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.like)
								self.text('Unlike').attr('like', 'false');
							else
								self.text('Like').attr('like', 'true');
							if (response.likes == 0)
								text = '';
							else if (response.likes == 1)
								text = '1 Like';
							else
								text = response.likes + ' Likes';
							self.parents(".comment-botom").find(".like-count").text(text)
						}
					}
				});
			});

			$('.share').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', share: self.attr('share')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.share)
								self.text('Un-share').attr('share', 'false');
							else
								self.text('Share').attr('share', 'true');
							if (response.shares == 0)
								text = '';
							else if (response.shares == 1)
								text = '1 Share';
							else
								text = response.likes + ' Shares';
							self.parents(".comment-botom").find(".share-count").text(text)
						}
					}
				});
			});
		});
	</script>
{% endblock %}