{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  <div class="board">
		    <div class="board-header">
		      <h2>Join Ghanaman Forum / Register</h2>
		    </div>
		    <div class="board-content board-content-odd board-content-last text-center">
		    	<div class="row">
			    	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<form action="" method="post" class="no-margin-bottom"> 
							{% csrf_token %}
							{{ form.non_field_errors }}

							<div class="form-group">
								{{ form.email.label_tag }}
								<input readonly value="{{form.email.value}}">
								{{ form.email.as_hidden }}
							</div>
							<div class="form-group">
								{{ form.username.label_tag }}
								{{ form.username }}
								<p class="error">
									{% for error in form.username.errors %} {{ error }} {% endfor %}
								</p>
							</div>
							<div class="form-group">
								{{ form.password.label_tag }}
								{{ form.password }}
								<p class="error">
									{% for error in form.password.errors %} {{ error }} {% endfor %}
								</p>
							</div>
							<div class="form-group">
								{{ form.password_confirm.label_tag }}
								{{ form.password_confirm }}
								<p class="error">
									{% for error in form.password_confirm.errors %} {{ error }} {% endfor %}
								</p>
							</div>
							<input type="submit" value="Submit">
						</form>
					</div>
				</div>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}