{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>Your account has been deactived</h2>
			</div>
		</div>
	</div>
{% endblock %}