{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h2>Login To Ghanaman</h2>
      <div class="board">
        <div class="board-header">
          <b>We've just sent you an email. Please enter the verification code it contains below:</b>
        </div>
        <div class="board-content board-content-odd board-content-last text-center">
          <p class="message-error">{{ message_invalid_code }}</p>
          <form action="{% url 'login_without_password' %}" method="post" class="form-inline"> 
            {% csrf_token %}
            <div class="form-group">
              <label for="Username">Code: </label>
              <input type="text" name="code">
            </div>
            <input type="submit" name="Login" value="Login">
          </form>
        </div>
        <div class="board-content board-content-odd board-content-last text-center">
          <p>(Please <b>check your spam folder</b> if you can't find the e-mail)</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}