{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<h2>{{message}}</h2>
		</div>
	</div>
{% endblock %}