{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}

	<div class="board">
		<div class="board-header">
			<h3>Ghanaman FORUMS</h3>
		</div>
		{% for category in categories_parent %}
			<div class="board-content {% cycle 'board-content-odd' 'board-content-even' %} text-left {% if forloop.last %}board-content-last{% endif %}">
				<a href="{% url 'board' category.slug %}"><b>{{category.title}}</b></a>{% if category.children %}:
					{% for cat in category.children %}
						<a href="{% url 'board' cat.slug %}"><b>{{cat.title}}</b></a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				{% endif %}
			</div>
		{% empty %}
			<div class="board-content board-content-odd board-content-last"></div>
		{% endfor %}
	</div>
	<div class="advertises">
		{% for advertise in advertises %}
			{% if not forloop.counter > 3 %}
				<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
					<img src="{{MEDIA_URL}}{{advertise.image}}">
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="board">
		<div class="board-header">
			<img src="{% static "images/icons/smiley.gif" %}" alt="Smile Icon">
			<b><a href="{% url 'featured_links' %}">Featured Links</a></b> /
			<b><a href="#">Twitter</a></b> /
			<b><a href="#">Facebook</a></b> /
			<b><a href="#">How To Advertise</a></b>
			<img src="{% static "images/icons/smiley.gif" %}" alt="Smile Icon">
		</div>
		<div class="board-content board-content-odd">
			{% for topic in topics %}
				<p> » <a href="{% url 'topic' topic.slug %}"><b>{{topic.subject}}</b></a> « </p>
			{% endfor %}
		</div>
		<div class="board-content board-content-last text-center">
			<div class="pagination">
				<span class="step-links">
					{{ pagination|safe }}
					<!-- {% for num in topics.paginator.page_range %}
						{% ifequal num topics.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %} -->

					(of <b>{{ topics.paginator.num_pages }}</b> page{{topics.paginator.num_pages|pluralize}}) {% if user  %}/
						<a href="{% url 'send_mail_to_supermod' 0 %}"><b>Send Email To Super Mods</b></a>
					{% endif %} 
				</span>
			</div>
		</div>
	</div>

	<div class="advertises">
		{% for advertise in advertises reversed %}
			{% if not forloop.counter > 3 %}
				<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
					<img src="{{MEDIA_URL}}{{advertise.image}}">
				</a>
			{% endif %}
		{% endfor %}
	</div>
	
	<div class="statistical">
		<div class="member-online">
			<b>Members Online:</b> <br/>
			<p>(<b>{{visitor_member}} Members</b> and <b>{{visitor_guest}} Guests</b> online in last 5 minutes!)</p>
		</div>

		<div class="birthdays">
			<b>Birthdays:</b> <br/>
			<div class="list-members-birthday">
				{% for member_birthday in members_birthday %}
					<span>{{ member_birthday.user }}({{ member_birthday.age }})</span><span class="comma">, </span> 
				{% endfor %}
			</div>
		</div>
		<div class="fb-page" data-href="https://www.facebook.com/ghanamanForum" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ghanamanForum"><a href="https://www.facebook.com/ghanamanForum">Ghanaman</a></blockquote></div></div>
	</div>
{% endblock %}
