{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  <h2>Submit Your Email To Join Ghanaman</h2>
		  <div class="board">
		    <div class="board-header">
		      <p class="no-margin-bottom">Before you can join Ghanaman, we need to verify your email address. Please enter it below:</p>
		    </div>
		    <div class="board-content board-content-odd board-content-last text-center">
				<form action="{% url 'register' %}" method="post" class="form-inline no-margin-bottom"> 
					{% csrf_token %}
					{{ form.non_field_errors }}

					<div class="form-group">
						{{ form.email.label_tag }}
						{{ form.email }}
						{% for error in form.email.errors %} {{ error }} {% endfor %}
					</div>
					
					<input type="submit" value="Submit">
				</form>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}