{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			{% if title %}
				<h2>{{ title }}</h2>
			{% else %}
				<h2>Search</h2>
			{% endif %}
			<div class="board">
				<div class="board-content board-content-even text-center board-content-round">
					<form action="{% url 'search' %}" method="get" class="form-inline no-margin-bottom">
						{{form_search.q}}
						{{form_search.category}}
						{{form_search.topiconly}}
						{{form_search.topiconly.label}}
						{{form_search.imageonly}}
						{{form_search.imageonly.label}}
						<input type="submit" name="search" value="Search" >
					</form>
				</div>
			</div>
			<div class="advertises">
				<a href="/click/home/499" rel="nofollow">
					<img src="{% static 'images/advetise-ex-1.jpg' %}">
				</a>
				<a href="/click/home/2496" rel="nofollow">
					<img src="{% static 'images/advetise-ex-2.jpg' %}">
				</a>
				<a href="/click/home/2487" rel="nofollow">
					<img src="{% static 'images/advetise-ex-3.jpg' %}">
				</a>
			</div>
			<div class="board text-left">
				{% if q %}
					<div class="text-center">
						<div class="pagination">
							<span class="step-links">
								{% for num in comments.paginator.page_range %}
									{% ifequal num comments.number %}
										<span class="current"><b>({{ num }})</b></span>
									{% else %}
										<a href="?page={{ num }}&q={{q}}&category={{category}}">({{ num }})</a>
									{% endifequal %} 
								{% endfor %}

								(of <b>{{ comments.paginator.num_pages }}</b> page{{comments.paginator.num_pages|pluralize}})
							</span>
						</div>
					</div>
				{% endif %}
				{% for comment in comments %}
					<div class="board-content board-content-even board-content-first" id="{{comment.id}}">
						<p>
							<img src="{% static 'images/icons/xx.gif' %}">
							<b>
								<a href="{% url 'topic' comment.topic.slug %}#{{comment.id}}">{% if not comment.is_first %}Re: {% endif %}{{comment.topic.subject}}</a>
							</b> by <a href="#" class="user">{{comment.author.username}}</a>: <span class="date"><b>{{comment.date|date:"H:i"}}</b> On <b>{{comment.date|date:"M j, Y"}}</b></span></p>
					</div>
					<div class="board-content board-content-odd board-content-last">
						<p class="no-margin-bottom">{{comment.message|highlight:q}}</p>
						{% include "like_and_share.html" %}
					</div>
				{% empty %}
					<div class="board-content board-content-even text-center board-content-round">
						<b>Not Satisfied?</b> <a href="https://www.google.com.ng//search?q=site%3Aghanaman.com+{{q}}"><b>Click Here To Try Google Search!</b></a>
					</div>
				{% endfor %}

				{% if q %}
					<div class="text-center">
						<div class="pagination">
							<span class="step-links">
								{% for num in comments.paginator.page_range %}
									{% ifequal num comments.number %}
										<span class="current"><b>({{ num }})</b></span>
									{% else %}
										<a href="?page={{ num }}&q={{q}}&category={{category}}">({{ num }})</a>
									{% endifequal %} 
								{% endfor %}

								(of <b>{{ comments.paginator.num_pages }}</b> page{{comments.paginator.num_pages|pluralize}})
							</span>
						</div>
					</div>
				{% endif %}
			</div>
			<div class="advertises">
				<a href="/click/home/499" rel="nofollow">
					<img src="{% static 'images/advetise-ex-1.jpg' %}">
				</a>
				<a href="/click/home/2496" rel="nofollow">
					<img src="{% static 'images/advetise-ex-2.jpg' %}">
				</a>
				<a href="/click/home/2487" rel="nofollow">
					<img src="{% static 'images/advetise-ex-3.jpg' %}">
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.like').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', like: self.attr('like')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.like)
								self.text('Unlike').attr('like', 'false');
							else
								self.text('Like').attr('like', 'true');
							if (response.likes == 0)
								text = '';
							else if (response.likes == 1)
								text = '1 Like';
							else
								text = response.likes + ' Likes';
							self.parents(".comment-botom").find(".like-count").text(text)
						}
					}
				});
			});

			$('.share').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', share: self.attr('share')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.share)
								self.text('Un-share').attr('share', 'false');
							else
								self.text('Share').attr('share', 'true');
							if (response.shares == 0)
								text = '';
							else if (response.shares == 1)
								text = '1 Share';
							else
								text = response.likes + ' Shares';
							self.parents(".comment-botom").find(".share-count").text(text)
						}
					}
				});
			});
		});
	</script>
{% endblock %}