{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h2>Please Check Your E-Mail</h2>
				<p>We have just sent you an e-mail.</p>
				<p>Please <b>check your inbox</b> to find the e-mail and <b>complete your registration</b>.</p>
				<p>Please <b>check your spam folder</b> if you cannot find it in your inbox. </p>
				<p>Welcome to Ghanaman!</p>
				<p></p>
			</div>
		</div>
	</div>
{% endblock %}