{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}

{% block title %}{{title}}{% endblock title %}

{% block title_and_breadcrums %}
	<h2>{{title}}</h2>
	<div class="board">
		<a href="/"><b>Ghanaman Forum</b></a> /
		{% if title == 'Followed Topics' %}
			<a href="{% url 'followed_topics' %}"><b>Followed Topics</b></a>
		{% elif title == 'Followed Boards' %}
			<a href="{% url 'followed_boards' %}"><b>Followed Boards</b></a>
		{% elif title == 'New Topics' %}
			<a href="{% url 'newtopics' %}"><b>New Topics</b></a>
		{% endif %}
		
	</div>
{% endblock title_and_breadcrums %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		{% if follow %}
			<div class="board">
				<div class="board-content board-content-odd board-content-first">
					{% for board in profile.followed_boards.all %}
						<a href="{% url 'board' board.slug %}">{{board.title}}</a> <a href="{% url 'follow_board' board.id %}" class="unfollow"><img src="{% static 'images/icons/delete.png' %}"></a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				</div>
				<div class="board-content board-content-even board-content-last">
					<form action="." method="post" class="form-inline no-margin-bottom"> 
						{% csrf_token %}
						{{ form.non_field_errors }}

						<div class="form-group">
							{{ form.followed_boards }}
							{% for error in form.followed_boards.errors %} {{ error }} {% endfor %}
						</div>
						
						<input type="submit" value="Follow">
					</form>
				</div>
			</div>
		{% endif %}
		<div class="advertises">
			{% for advertise in advertises %}
				{% if not forloop.counter > 3 %}
					<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
						<img src="{{MEDIA_URL}}{{advertise.image}}">
					</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class="board">
			<div class="text-center">
				<div class="pagination">
					<span class="step-links">
						{% for num in topics.paginator.page_range %}
							{% ifequal num topics.number %}
								<span class="current"><b>({{ num }})</b></span>
							{% else %}
								<a href="?page={{ num }}">({{ num }})</a>
							{% endifequal %} 
						{% endfor %}

						(of <b>{{ topics.paginator.num_pages }}</b> page{{topics.paginator.num_pages|pluralize}}) 
						{% if title == 'Followed Topics' %}
							<a href="#">(Clear Unviewed Topics)</a>
						{% endif %}
					</span>
				</div>
			</div>
			{% if topics %}
				<div class="sort board-content board-content-first ">
					Sort:
					<a href="?sort=create_time"><b>Creation Time</b></a> /
					<a href="?sort=update_time"><b> Update Time</b></a>
				</div>
			{% endif %}
			
			{% for topic in topics %}
				<div class="board-content {% cycle 'board-content-odd' 'board-content-even' %} {% if forloop.last %}board-content-last{% endif %} ">
					<p class="no-margin-bottom">
						<img src="{% static 'images/icons/sticky.gif' %}"> <a href="{% url 'board' topic.category.slug %}"><b>{{topic.category.title}}</b></a> <b>/</b> <a href="{% url 'topic' topic.slug %}"><b>{{topic.subject}}</b></a>
						{% if forloop.counter < 150 %}
							<img src="{% static 'images/new.gif' %}" alt="New Topic">
						{% endif %}
						{% if follow_topic %}
							<a href="{% url 'follow_topic' topic.id %}" class="unfollow-topic"><img src="{% static 'images/icons/delete.png' %}"></a>
						{% endif %}
					</p>
					<p class="small-info no-margin-bottom">
						<span>by</span>
						<a href="{% url 'profile' topic.author.username %}" class="user"><b>{{topic.last_comment.author}}</b></a>.
						<span class="date"><b>{{topic.comment_topic.all|length}}</b> post{{topic.comment_topic.all|pluralize}}</span> &
						<span class="date"><b>{{topic.num_views}}</b> view{{topic.num_views|pluralize}}</span>
						<span class="date"><b>{{topic.last_comment.date|date:"H:i a"}}</b> On <b>{{topic.last_comment.date|date:"M j"}}</b> (<a href="{% url 'profile' topic.last_comment.author.username %}" class="user"><b>{{topic.last_comment.author}}</b></a>)</span>
					</p>
				</div>
			{% endfor %}
			<div class="text-center">
				<div class="pagination pagination-bottom">
					<span class="step-links">
						{% for num in topics.paginator.page_range %}
							{% ifequal num topics.number %}
								<span class="current"><b>({{ num }})</b></span>
							{% else %}
								<a href="?page={{ num }}">({{ num }})</a>
							{% endifequal %} 
						{% endfor %}
						(of <b>{{ topics.paginator.num_pages }}</b> page{{topics.paginator.num_pages|pluralize}})
						{% if title == 'Followed Topics' %}
							<a href="#">(Clear Unviewed Topics)</a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>

		<div class="advertises">
			{% for advertise in advertises reversed %}
				{% if not forloop.counter > 3 %}
					<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
						<img src="{{MEDIA_URL}}{{advertise.image}}">
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
	
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.unfollow').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', follow: 'false'},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							location.reload();
						}
					}
				});
			});

			$('.unfollow-topic').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', follow: 'false'},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							location.reload();
						}
					}
				});
			});
		});
	</script>
{% endblock %}