{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title_and_breadcrums %}
	<h2 class="board">{{board.title}}</h2>
	<div class="board">
		<a href="/"><b>Ghanaman</b></a> /
		{% for parent in board.get_all_parent reversed %}
			<a href="{% url 'board' parent.slug %}"><b>{{parent.title}}</b></a>
			{% if not forloop.last %}/{% endif %}
		{% endfor %}
	</div>
{% endblock title_and_breadcrums %}

{% block content %}
	<div class="board">
		{% for category in categories %}
			<div class="board-content {% cycle 'board-content-even' 'board-content-odd' %} text-left {% if forloop.last %}board-content-last{% endif %} {% if forloop.first %}board-content-first{% endif %}">
				<a href="{% url 'board' category.slug %}"><b>{{category.title}}</b></a>: {{category.description}} ({{category.topic_category.all|length}} topic{{ category.topic_category.all|length|pluralize }})
			</div>
		{% endfor %}
	</div>
	<div class="advertises">
		{% for advertise in advertises %}
			{% if not forloop.counter > 3 %}
				<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
					<img src="{{MEDIA_URL}}{{advertise.image}}">
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="board">
		<div class="text-center">
			<div class="pagination">
				<span class="step-links">
					{% for num in topics.paginator.page_range %}
						{% ifequal num topics.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}&q={{q}}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %}

					(of <b>{{ topics.paginator.num_pages }}</b> page{{topics.paginator.num_pages|pluralize}})

					{% if user.is_authenticated %}
						(<a href="{% url 'newtopic' board.id %}">Create New Topic</a>)
						{% if board in user.profile.followed_boards.all %}
							(<a href="#" class="follow" follow="false">Unfollow</a>)
						{% else %}
							(<a href="#" class="follow" follow="true">Follow</a>)
						{% endif %}
					{% endif %}
					{% if user.is_authenticated %}
						(<a href="{% url 'send_mail_to_supermod' board.id %}"><b>Mail Mods</b></a>)
					{% endif %}
				</span>
			</div>
		</div>
		<div class="board-header {% if not topics %}board-content-last{% endif %}">
			<b>Topics:</b>
			<b><a href="?q=posts">Posts</a></b> /
			<b><a href="?q=view">View</a></b> /
			<b><a href="?q=updated">Updated</a></b> /
			<b><a href="?q=new">New</a></b>
		</div>
		{% for topic in topics %}
			<div class="board-content {% cycle 'board-content-odd' 'board-content-even' %} {% if forloop.last %}board-content-last{% endif %}">
				<p class="no-margin-bottom"> <img src="{% static 'images/icons/sticky.gif' %}"> <a href="{% url 'topic' topic.slug %}"><b>{{topic.subject}}</b></a></p>
				<p class="small-info no-margin-bottom">
					<span>by</span>
					<a href="{% url 'profile' topic.author.username %}" class="user"><b>{{topic.author}}</b></a>.
					<span class="date"><b>{{topic.comment_topic.all|length}}</b> Post{{topic.comment_topic.all|pluralize}}</span> &
					<span class="date"><b>{{topic.num_views}}</b> View{{topic.num_views|pluralize}}</span>.
					<span class="date"><b>{{topic.last_comment.date|date:"H:i a"}}</b> On <b>{{topic.last_comment.date|date:"M j"}}</b> (<a href="{% url 'profile' topic.last_comment.author.username %}" class="user"><b>{{topic.last_comment.author}}</b></a>)</span>
					<!-- action mod -->
					{% if mod_permission %}
						<span class="action-mod">
							<b>Action</b> (<a href="{% url 'edittopic' topic.id %}">Modify</a>)
							(<a href="{% url 'deletetopic' topic.id %}" onclick="return confirm('Are you sure to delete this topic?')">Delete</a>)
						</span>
					{% endif %}
				</p>
			</div>
		{% endfor %}
		<div class="text-center">
			<div class="pagination pagination-bottom">
				<span class="step-links">
					{% for num in topics.paginator.page_range %}
						{% ifequal num topics.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}&q={{q}}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %}

					(of <b>{{ topics.paginator.num_pages }}</b> page{{topics.paginator.num_pages|pluralize}})

					{% if user.is_authenticated %}
						(<a href="{% url 'newtopic' board.id %}">Create New Topic</a>)
						{% if board in user.profile.followed_boards.all %}
							(<a href="#" class="follow" follow="false">Unfollow</a>)
						{% else %}
							(<a href="#" class="follow" follow="true">Follow</a>)
						{% endif %}
					{% endif %}
				</span>
			</div>
		</div>
	</div>

	<div class="advertises">
		{% for advertise in advertises reversed %}
			{% if not forloop.counter > 3 %}
				<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
					<img src="{{MEDIA_URL}}{{advertise.image}}">
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="viewers">
		Viewing this board: 
		{% if viewers_member %}
			{% for member in viewers_member %}
				<span>{{ member }}</span><span>, </span>
			{% endfor %}
			and 
		{% endif %}
		{{ viewers_guest }}
		{% if viewers_guest > 1 %}
			guests
		{% else %}
			guest
		{% endif %}
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.follow').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', follow: self.attr('follow')},
					url : "{% url 'follow_board' board.id %}",
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.follow)
								$('.follow').text('Unfollow').attr('follow', 'false');
							else
								$('.follow').text('Follow').attr('follow', 'true');
						}
					}
				});
			});
		});
	</script>
{% endblock %}