{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title_and_breadcrums %}
	<h2>Featured Links</h2>
	<div class="board">
		<a href="/"><b>Ghanaman Forum</b></a> /
		<a href="{% url 'featured_links' %}"><b>Featured Links</b></a>
	</div>
{% endblock title_and_breadcrums %}

{% block content %}
	<div class="board text-left">
		<div class="text-center">
			<div class="pagination">
				<span class="step-links">
					{% for num in featured_links.paginator.page_range %}
						{% ifequal num featured_links.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %}

					(of <b>{{ featured_links.paginator.num_pages }}</b> page{{featured_links.paginator.num_pages|pluralize}})
				</span>
			</div>
		</div>
		<div class="featured-content">
			{% for link in featured_links  %}
				<p><a href="{% url 'featured_link' link.slug %}"><b>{{ link.subject }}</b></a> at {{link.date|date:"H:i a"}} On {{link.date|date:"M j"}}</p>
			{% endfor %}
		</div>
		<div class="text-center">
			<div class="pagination pagination-bottom">
				<span class="step-links">
					{% for num in featured_links.paginator.page_range %}
						{% ifequal num featured_links.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %}

					(of <b>{{ featured_links.paginator.num_pages }}</b> page{{featured_links.paginator.num_pages|pluralize}})
				</span>
			</div>
		</div>
	</div>
{% endblock %}

