<p class="comment-botom">
	
	<span class="modified">
	{% if user.id == comment.author.id %}
		{% if comment.is_first %}
			(<a href="{% url 'edittopic' comment.topic.id %}">Modify</a>)
		{% else %}
			(<a href="{% url 'editcomment' comment.id %}">Modify</a>)
		{% endif %}
	{% endif %}
	</span>
	
	<b>
		<span class="date like-count">
		{% if comment.likes > 0 %}
			{{comment.likes}} Like{{comment.likes|pluralize}}
		{% endif %}
		</span>
	</b>
	{% if user.is_authenticated %}
		{% if comment.is_liked %}
			(<a href="{% url 'likes' comment.id %}" class="like" like="false">Unlike</a>)
		{% else %}
			(<a href="{% url 'likes' comment.id %}" class="like" like="true">Like</a>)
		{% endif %}
	{% endif %}

	<b>
		<span class="date share-count">
		{% if comment.shares > 0 %}
			{{comment.shares}} Share{{comment.shares|pluralize}}
		{% endif %}
		</span>
	</b>
	{% if user.is_authenticated %}
		{% if comment.is_shared %}
			(<a href="{% url 'shares' comment.id %}" class="share" share="false">Un-share</a>)
		{% else %}
			(<a href="{% url 'shares' comment.id %}" class="share" share="true">Share</a>)
		{% endif %}
	{% endif %}
</p>