{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block style %}
  	<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
	{{ form.media }}
{% endblock style %}
{% block content %}

	<div class="board">
		<div class="board-content board-content-even text-left board-content-round">
			<div class="rule">
				<p><b>Please Observe The Following Rules:</b> <a href="#skip">(skip)</a></p>
				{{rule.content|safe}}
			</div>
			<form action="." method="post">
				{% csrf_token %}
				{% for error in form.non_field_errors %} {{ error }} {% endfor %}
				<div class="form-group" id="skip">
					<label>{{form_topic.subject.label}}</label>
					{{form_topic.subject|addclass:"form-control"}}
					<p class="error">
						{% for error in form_topic.subject.errors %} {{ error }} {% endfor %}
					</p>
				</div>
				<div class="form-group">
					<label>{{form.message.label}}</label>
					{{form.message|addclass:"form-control"}}
					<p class="error">
						{% for error in form.message.errors %} {{ error }} {% endfor %}
					</p>
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
	
{% endblock %}
{% block script %}
<script type="text/javascript">
	// tinyMCE.init({
	// 	// General options
	// 	mode: "textareas",
	// 	theme: "advanced",
	// 	plugins : 'autoresize',
	// 	width: '100%',
	// 	height: 200,
	// 	autoresize_min_height: 200,
	// 	autoresize_max_height: 800,

	// 	// Selector
	// 	editor_selector: "tinymce",
	// });
</script>
{% endblock %}