{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title_and_breadcrums %}
	<h2>{{topic.subject}}</h2>
	<div class="board">
		<a href="/"><b>Ghanaman</b></a> /
		{% for parent in topic.category.get_all_parent reversed %}
			<a href="{% url 'board' parent.slug %}"><b>{{parent.title}}</b></a> /
		{% endfor %}
		<a href="{% url 'topic' topic.slug %}"><b>{{topic.subject}}</b></a>
	</div>
{% endblock title_and_breadcrums %}

{% block content %}

	<div class="advertises">
		{% for advertise in advertises %}
			{% if not forloop.counter > 3 %}
				<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
					<img src="{{MEDIA_URL}}{{advertise.image}}">
				</a>
			{% endif %}
		{% endfor %}
	</div>
	
	<div class="board text-left">
		<div class="text-center">
			<div class="pagination">
				<span class="step-links">
					{% for num in comments.paginator.page_range %}
						{% ifequal num comments.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %}

					(of <b>{{ comments.paginator.num_pages }}</b> page{{comments.paginator.num_pages|pluralize}})

					{% if user.is_authenticated %}
						<a href="{% url 'newcomment' topic.id %}"><b>(Reply)</b></a>
						{% if topic in user.profile.followed_topics.all %}
							(<a href="#" class="follow" follow="false">Unfollow</a>)
						{% else %}
							(<a href="#" class="follow" follow="true">Follow</a>)
						{% endif %}
					{% endif %}
				</span>
			</div>
		</div>
		{% for comment in comments %}
			<div class="board-content board-content-even board-content-first" id="{{comment.id}}">
				<p>
					<b>
						<a href="{% url 'topic' topic.slug %}#{{comment.id}}">{% if not forloop.first %}Re: {% endif %}{{topic.subject}}</a>
					</b> by <a href="{% url 'profile' comment.author.username %}" class="user">{{comment.author.username}}</a>: <span class="date"><b>{{comment.date|date:"H:i"}}</b> On <b>{{comment.date|date:"M j, Y"}}</b></span>
					
				</p>
			</div>
			<div class="board-content board-content-odd board-content-last">
				<p class="no-margin-bottom">{{comment.message|safe}}</p>
				{% include "like_and_share.html" %}
			</div>
		{% endfor %}
		<div class="text-center">
			<div class="pagination pagination-bottom">
				<span class="step-links">
					{% for num in comments.paginator.page_range %}
						{% ifequal num comments.number %}
							<span class="current"><b>({{ num }})</b></span>
						{% else %}
							<a href="?page={{ num }}">({{ num }})</a>
						{% endifequal %} 
					{% endfor %}

					(of <b>{{ comments.paginator.num_pages }}</b> page{{comments.paginator.num_pages|pluralize}})
					
					{% if user.is_authenticated %}
						(<a href="{% url 'newcomment' topic.id %}"><b>Reply</b></a>)
						{% if topic in user.profile.followed_topics.all %}
							(<a href="#" class="follow" follow="false">Unfollow</a>)
						{% else %}
							(<a href="#" class="follow" follow="true">Follow</a>)
						{% endif %}
					{% endif %}
				</span>
			</div>
		</div>
	</div>
	

	<div class="advertises">
		{% for advertise in advertises reversed %}
			{% if not forloop.counter > 3 %}
				<a href="{% url 'advertise_home' advertise.id %}" rel="nofollow">
					<img src="{{MEDIA_URL}}{{advertise.image}}">
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="viewers">
		Viewing this board: 
		{% if viewers_member %}
			{% for member in viewers_member %}
				<span>{{ member }}</span><span>, </span>
			{% endfor %}
			and 
		{% endif %}
		{{ viewers_guest }}
		{% if viewers_guest > 1 %}
			guests
		{% else %}
			guest
		{% endif %}
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.follow').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', follow: self.attr('follow')},
					url : "{% url 'follow_topic' topic.id %}",
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.follow)
								$('.follow').text('Unfollow').attr('follow', 'false');
							else
								$('.follow').text('Follow').attr('follow', 'true');
						}
					}
				});
			});

			$('.like').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', like: self.attr('like')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.like)
								self.text('Unlike').attr('like', 'false');
							else
								self.text('Like').attr('like', 'true');
							if (response.likes == 0)
								text = '';
							else if (response.likes == 1)
								text = '1 Like';
							else
								text = response.likes + ' Likes';
							self.parents(".comment-botom").find(".like-count").text(text)
						}
					}
				});
			});

			$('.share').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', share: self.attr('share')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.share)
								self.text('Un-share').attr('share', 'false');
							else
								self.text('Share').attr('share', 'true');
							if (response.shares == 0)
								text = '';
							else if (response.shares == 1)
								text = '1 Share';
							else
								text = response.likes + ' Shares';
							self.parents(".comment-botom").find(".share-count").text(text)
						}
					}
				});
			});
		});
	</script>
{% endblock %}