body {
	text-align: center;
	background: url('../images/bg.png') repeat;
	font-family: verdana,sans-serif;
	font-size: 10pt;
	margin: 0px;
}

div.body {
	max-width: 1024px;
	margin: 0px auto;
	width: 100%;
}

.custom-navbar,
footer {
	padding: 8px;
	background: #F6F6EC;
	text-align: center;
	border: 1px solid #444;
	border-radius: 12px;
	margin: 5px;
}

h1, 
h2, 
h3 {
	color: #200;
	font-family: tahoma,verdana,sans-serif;
}

a {
	color: #181855;
	text-decoration: underline;
}

h1 a {
	color: #185518;
	text-decoration: underline;
	font-weight: bold;
}

a:hover {
	color: #FFF;
	background-color: #114;
	text-decoration: none;
}

a:hover:visited {
	color: #E8ECE0;
	background-color: #114;
	text-decoration: none;
}

.form-inline .custom-form-control {
	display: inline;
	width: 50%;
	min-width: 90px;
}

.board {
	padding: 5px;
}

.board-header,
.board-content {
	padding: 8px;
	background: #E8ECE0;
	border: 1px solid #444;
	border-bottom-width: 0px;
}

.board-header {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	text-align: center;
}

.board-header h3 {
	font-weight: bold;
	margin: 0;
	font-size: 1.17em;
}

.board-content {

}

.board-content-odd {
	background: #F6F6EC;
}

.board-content-last {
	border-bottom: 1px solid #444;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.board-content-first {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.advertises {
	text-align: center;
}

.advertises a {
	text-decoration: none;
}

.advertises a:hover {
	background: none;
}

.advertises img {
  border: 1px solid #000;
  margin: 8px 4px;
  padding: 0px;
  width: 318px;
  height: 106px;
  background: white;
}

.small {
  font-size: 8.5pt;
}

h2 {
	font-weight: bold;
	font-size: 1.5em;
}

.board-content form label {
	font-weight: normal;
}

.small-info {
	font-size: 8.5pt;
	color: #555518;
}

.no-margin-bottom {
	margin-bottom: 0;
}

/* H */
/* error validation */
.errorlist {
	list-style: none;
	font-size: 10px;
	color: red;
}
/* register page */
#page-register form {
	background: #F6F6EC;
	text-align: center;
	border: 1px solid #444;
	border-radius: 12px;
}
#page-register p {
	padding: 8px;
	border-bottom: 1px solid #444;
	margin-bottom: 0px;
}
#page-register .fieldWrapper {
	padding: 8px;
}

.board-content-round {
	border-bottom: 1px solid #444;
	border-radius: 12px;
}

.board-content form .form-group label {
	font-weight: bold;
}

a.user {
  color: #551818;
  font-weight: bold;
}

.date {
  font-size: 8.5pt;
  color: #555518;
}

form p.error {
	color: #c7254e;
}

.rule ol {
	padding-left: 20px;
}

span.highlight {
	font-weight: bold;
	background-color: yellow;
}

#goup {
	margin: 5px 0;
	display: inline-block;
}

.form-md .form-control {
	height: 30px;
	font-size: 12px;
}

/* PROFILE DETAILS */
.profile .board {
  	border: 1px solid #444;
  	border-radius: 15px;
  	margin-top: 10px;
}
.profile .board span {
	font-weight: bold;
}
.profile .board .nav, .profile .board img, .profile .board .send-mail {
	padding-top: 10px;
}
.profile .board .time-uploaded, .profile .board .time-spent-online, .profile .board .time-registered, .profile .board .last-seen {
	padding: 3px;
}

.comment-botom a {
	font-size: 8.5pt;
	color: #551818;
}

.statistical {
	border: 1px solid #444;
  	border-radius: 10px;
  	margin-top: 10px;
}
.statistical .member-online b:first-child, .statistical .birthdays b:first-child {
	font-size: 18px;
}
.statistical .member-online p b:first-child {
	font-size: 14px;
}
.statistical .member-online {
	padding: 10px 0 0 0;
  	border-bottom: 1px solid #444;
}
.birthdays {
	background: #E8ECE0;
	padding: 10px 10px;
}
.list-members-birthday span:last-child, .viewers span:last-child {
	display: none;
}	

p {
	margin-bottom: 3px;
}
header h1 {
	font-size: 2em;
	margin-top: 0px;
	margin-bottom: 5px;
}
.form-search {
	margin-bottom: 0px;
	margin-top: 6px;
}
.form-search input {
	font-family: verdana,sans-serif;
  	font-size: 10pt;
  	margin: 0px;

}
.form-search input[type=text] {
	width: 50%;
}
h2 {
	margin: 0px;
}
.board .pagination {
	margin: 0px 0px 10px 0px;
}
.board .pagination-bottom {
	margin-top: 10px;
}
.form-edit-profile input[type=submit] {
	margin-top: 10px;
}
.featured-content {
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	border: 1px solid #444;
	background: #E8ECE0;
	padding: 8px
}
.featured-content p {
	text-align: center;
}
.featured-content p a {
	text-align: center;
	color: #181855;
	text-decoration: underline;
}
.featured-content p a:hover {
  	color: #E8ECE0;
  	background-color: #114;
  	text-decoration: none;
}
select#id_category {
	width: 25%;
}
.message-error {
	color: red;
}
.send-mail-to-supermod div {
	width: 100%;
}
.send-mail-to-supermod div input[type=text], .send-mail-to-supermod div textarea {
	width: 100%;
}
/** FACEBOOK PAGE **/
.fb-page.fb_iframe_widget {
	width: 100%;
}
.fb-page.fb_iframe_widget span:first-child {
	width: 100%!important;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.fb-page.fb_iframe_widget span:first-child iframe {
	width: 100%!important;
}
.fb-page.fb_iframe_widget span:first-child body #u_0_0 div:first-child {
	width: 100%!important;
}