{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<h2>Deactivate account</h2>
			<h6 style="color: red">THIS IS A PERMANENT OPERATION AND CANNOT BE REVERSED BY ANYONE, NOT EVEN THE ADMIN.</h6>
			<form action="{% url 'deactivate_account' code %}" method="POST">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
				<input type="hidden" name="confirmed" value="1">
				<input type="submit" value="Deactivate Account">
			</form>
		</div>
	</div>
{% endblock %}