{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  	<h2>A confirmation email has been sent to your email address. Please follow the link to continue the process.</h2>
		</div>
	</div>
{% endblock %}