{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}

{% block title %}{{title}}{% endblock title %}

{% block title_and_breadcrums %}
	<h2>{{title}}</h2>
	<div class="board">
		<a href="/"><b>Ghanaman Forum</b></a> /
		<a href="{% url 'followers' %}"><b>Followers</b></a>
	</div>
{% endblock title_and_breadcrums %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="board">
			<div class="text-center">
				<div class="pagination">
					<span class="step-links">
						{% for num in followers.paginator.page_range %}
							{% ifequal num followers.number %}
								<span class="current"><b>({{ num }})</b></span>
							{% else %}
								<a href="?page={{ num }}">({{ num }})</a>
							{% endifequal %} 
						{% endfor %}

						(of <b>{{ followers.paginator.num_pages }}</b> page{{followers.paginator.num_pages|pluralize}})
					</span>
				</div>
			</div>
			{% if followers %}
				{% for follower in followers %}
					<div class="board-content {% cycle 'board-content-odd' 'board-content-even' %} {% if forloop.last %}board-content-last{% endif %} {% if forloop.first %}board-content-first{% endif %}">
						<p class="no-margin-bottom">
							<a href="{% url 'profile' follower.following.user.username %}" class="user">{{follower.following.user.username}}</a>
							{% if follower.follow %}
								(<a href="{% url 'follow_member' follower.following.id %}" class="follow-member" follow-member="false">Un-Follow</a>)
							{% else %}
								(<a href="{% url 'follow_member' follower.following.id %}" class="follow-member" follow-member="true">Follow Back</a>)
							{% endif %}
						</p>
					</div>
				{% endfor %}
			{% else %}
				<div class="board-content board-content-even board-content-first board-content-last">
					<p class="no-margin-bottom text-center">You have no followers at this time</p>
				</div>
			{% endif %}
			
			<div class="text-center">
				<div class="pagination pagination-bottom">
					<span class="step-links">
						{% for num in followers.paginator.page_range %}
							{% ifequal num followers.number %}
								<span class="current"><b>({{ num }})</b></span>
							{% else %}
								<a href="?page={{ num }}">({{ num }})</a>
							{% endifequal %} 
						{% endfor %}

						(of <b>{{ followers.paginator.num_pages }}</b> page{{followers.paginator.num_pages|pluralize}})
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
	
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.follow-member').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', follow_member: self.attr('follow-member')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.follow_member)
								self.text('Un-Follow').attr('follow-member', 'false');
							else
								self.text('Follow Back').attr('follow-member', 'true');
						}
					}
				});
			});
		});
	</script>
{% endblock %}