{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<form action="{% url 'profile_edit' %}" method="post" class="no-margin-bottom form-inline form-md form-edit-profile" enctype="multipart/form-data"> 
				{% csrf_token %}
				{{ form.non_field_errors }}
				<div class="board-content board-content-even text-center board-content-first">
					<div class="form-group">
						<label>Email:</label>
						{{ user.email }}
						<a href="{% url 'email_change' %}">Change Email</a>
					</div>
				</div>
				<div class="board-content board-content-odd text-center">
					<div class="form-group">
						{{ form.date_of_birth.label_tag }}
						{{ form.date_of_birth|addclass:"form-control" }}
						<p class="error no-margin-bottom">
							{% for error in form.date_of_birth.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-even text-center">
					<div class="form-group">
						{{ form.gender.label_tag }}
						{{ form.gender }}
						<p class="error no-margin-bottom">
							{% for error in form.gender.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-odd text-center">
					<div class="form-group">
						{{ form.personal_text.label_tag }}
						{{ form.personal_text }}
						<p class="error no-margin-bottom">
							{% for error in form.personal_text.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-even text-center">
					<div class="form-group">
						{{ form.signature.label_tag }}
						{{ form.signature }}
						<p class="error no-margin-bottom">
							{% for error in form.signature.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-odd text-center">
					<div class="form-group">
						<label for="id_avatar">Picture:</label>
						{{ form.avatar }}
						<p class="error no-margin-bottom">
							{% for error in form.avatar.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-even text-center">
					<div class="form-group">
						{{ form.website_title.label_tag }}
						{{ form.website_title }}
						<p class="error no-margin-bottom">
							{% for error in form.website_title.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-odd text-center">
					<div class="form-group">
						{{ form.website_url.label_tag }}
						{{ form.website_url }}
						<p class="error no-margin-bottom">
							{% for error in form.website_url.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-even text-center">
					<div class="form-group">
						{{ form.location.label_tag }}
						{{ form.location }}
						<p class="error no-margin-bottom">
							{% for error in form.location.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-odd text-center">
					<div class="form-group">
						{{ form.yim.label_tag }}
						{{ form.yim }}
						<p class="error no-margin-bottom">
							{% for error in form.yim.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-even text-center">
					<div class="form-group">
						{{ form.twitter.label_tag }}
						{{ form.twitter }}
						<p class="error no-margin-bottom">
							{% for error in form.twitter.errors %} {{ error }} {% endfor %}
						</p>
					</div>
				</div>
				<div class="board-content board-content-even text-center board-content-last">
					<a href="{% url 'send_confirmation_email_for_account_deactivation' %}">
						Deactivate Account
					</a>
				</div>
				<div class="form-group">
					<input type="submit" value="Update Profile">
				</div>
			</form>
		</div>
	</div>
{% endblock %}