{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid profile">
		<div class="row">
			<h2>
				{% if user.id == Currentuser.id %}
					My Profile
				{% else %}
					{{Currentuser.username}}'s profile
				{% endif %}
			</h2>
			<div class="nav">
				<a href="/">Ghanaman Forum</a> /
				<a href="{% url 'profile' Currentuser.username %}">
					{% if user.id == Currentuser.id %}
						My Profile
					{% else %}
						{{Currentuser.username}}'s profile
					{% endif %}
				</a>
			</div>
			<div class="board">
				{% if user.id == Currentuser.id %}
					<div class="nav">
						<a href="{% url 'like_topics' %}">Posts I've Liked</a> | 
						<a href="{% url 'share_topics' %}">Posts I've Shared </a> | 
						<a href="/search/?q={{user.username}}">My Quotes & Mentions</a>
					</div>
				{% endif %}
				{% if not user.id == Currentuser.id %}
					<p class="no-margin-bottom">
						{% if is_follow %}
							(<a href="{% url 'follow_member' profile.id %}" class="follow-member" follow-member="false">Un-Follow this member</a>)
						{% else %}
							(<a href="{% url 'follow_member' profile.id %}" class="follow-member" follow-member="true">Follow this member</a>)
						{% endif %}
						{% if is_followed %}
							| <b>{{Currentuser.username}}</b> follows you
						{% endif %}
					</p>
					<div class="send-mail">
						<a href="{% url 'send_email_message' Currentuser.username %}">Send E-Mail Message To {{ Currentuser.username }}</a>
					</div>
				{% endif %}
				{% if profile.avatar %}
					<img src="{{ MEDIA_URL }}{{ profile.avatar }}" alt="" class="avatar">
				{% endif %}
				<div class="time-uploaded">
					<span>Time uploaded:</span> 3:18am
				</div>
				<div class="time-registered">
					<span>Time registered:</span> {{ Currentuser.date_joined }}
				</div>
				<div class="time-spent-online">
					<span>Time spent online:</span> {{ time_spent }}
				</div>
				<div class="last-seen">
					<span>Last seen:</span> {{ Currentuser.last_login }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.follow-member').click(function(e) {
				e.preventDefault();
				self = $(this);
				$.ajax({
					type : 'POST',
					data: {csrfmiddlewaretoken: '{{ csrf_token }}', follow_member: self.attr('follow-member')},
					url : self.attr('href'),
					success: function(response){
						response = $.parseJSON(response);
						if (response.success) {
							if (response.follow_member)
								self.text('Un-Follow this member').attr('follow-member', 'false');
							else
								self.text('Follow this member').attr('follow-member', 'true');
						}
					}
				});
			});
		});
	</script>
{% endblock %}