{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  <h2>Send E-Mail Message to {{ receiver }}</h2>
		  <div class="board">
		    <div class="board-content board-content-odd board-content-last text-center">
				<form action="{% url 'send_email_message' receiver %}" method="post" class="form-inline no-margin-bottom"> 
					{% csrf_token %}

					<div class="form-group">
						<input type="text" value="{{ sender }} would like to send you a message" disabled>
					</div>
					
					<div class="form-group">
						<textarea  id="" cols="30" rows="10" disabled>
							{{ sender }} would like to send you an email message, but since you're not connected, you'll need to contact {{ sender }} by replying this email.

							Regards,
							Ghanaman Team,
							For: http://www.ghanaman.com/profile/{{ sender }}
						</textarea>
					</div>
					<input type="submit" value="Submit" class="btn btn-default">
				</form>
		    </div>
		  </div>
		</div>
	</div>
{% endblock %}