{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  	<h2>Deactivate account</h2>
		  	<h6>A CONFIRMATION EMAIL NEEDS TO BE SENT TO YOUR EMAIL ADDRESS.</h6>
		  	<a href="{% url 'do_confirmation_email_for_account_deactivation' %}">Send Confirmation Email</a>
		</div>
	</div>
{% endblock %}