{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  	<div class="featured-content">
				<form action="{% url 'send_mail_to_supermod' board_id %}" method="post" class="no-margin-bottom form-inline form-md send-mail-to-supermod"> 
					{% csrf_token %}
					<div class="form-group">
						{{ form.subject.label_tag }}
						<p>{{ form.subject }}</p>
						<p class="error no-margin-bottom">
							{% for error in form.subject.errors %} {{ error }} {% endfor %}
						</p>
					</div>
					<div class="form-group">
						{{ form.message.label_tag }}
						<p>{{ form.message }}</p>
						<p class="error no-margin-bottom">
							{% for error in form.message.errors %} {{ error }} {% endfor %}
						</p>
					</div>
					<div class="form-group">
						<p><input type="submit" value="Submit"></p>
					</div>
				</form>	  		
		  	</div>
		</div>
	</div>
{% endblock %}