{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load add_class_tags %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
		  <h2>You have just sent an email to {{ receiver }}</h2>
		</div>
	</div>
{% endblock %}