{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load add_class_tags %}
<html>
<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- CSS
  ================================================== -->
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" />
	<!-- Fonts -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" media="screen" />
	<!-- Template Styles-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" />
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=652567881515918";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {% block style %}
  
  {% endblock style %}
</head>
<body>
  <div class="body">
    <header class="navbar navbar-default custom-navbar">
      <div class="container-fluid">
        <h1><a href="/">Ghanaman</a></h1>
        <p>Welcome,
          {% if not user.is_authenticated %}
            <b>Guest</b>: <b><a href="{% url 'register' %}">Join Ghanaman</a></b> /
            <a href="/login">Login</a> /
          {% else %}
            <b><a href="{% url 'profile' user.username %}">{{user.username}}</a></b>:
            <a href="{% url 'profile_edit' %}">Edit Profile</a> /
            <a href="{% url 'shared' %}">SH</a> /
            <a href="{% url 'followed_topics' %}" title="Followed Topics">FT</a> /
            <a href="{% url 'followed_boards' %}" title="Followed Boards">FB</a> /
            <a href="{% url 'likes_and_shares' %}" title="My Likes & Shares">L&S</a> /
            <a href="{% url 'metions' %}?q={{user.username}}" title="Mentions">MT</a> /
            <a href="{% url 'followings' %}" title="Followings">FG</a> /
            <a href="{% url 'followers' %}" title="Followers">FS</a> /
          {% endif %}
          <a href="{% url 'trending' %}">Trending</a> /
          <a href="{% url 'recent' %}">Recent</a> /
          <a href="{% url 'newtopics' %}">New</a>
        </p>
        <p>
          <b>Stats: </b>{{total_members|intcomma}} member{{total_members|pluralize}}, {{total_topics|intcomma}} topic{{total_topics|pluralize}}.
          <b>Date: </b>{% now "l, j F Y" %} at {% now "H:i A" %}
          {% if user.is_authenticated %}
          / <a href="/logout">Logout</a>
          {% endif %}
        </p>
        {% if not is_search_page %}
          <form action="{% url 'search' %}" method="get" class="form-search">
            <input type="text" name="q" class="">
            <input type="submit" name="search" value="Search">
          </form>
        {% endif %}
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          {% block title_and_breadcrums %}
          
          {% endblock title_and_breadcrums %}
        </div>
      </div>
    </div>

    {% block content %}

    {% endblock %}
    <div class="container-fluid">
      <div class="row">
        <div class="text-center">
          <a href="#" id="goup"><b>(Go Up)</b></a>
        </div>
      </div>
    </div>
    <footer class="small">
      <div class="container-fluid">
        <form action="{% url 'search' %}" method="get" class="form-search">
          <input type="text" name="q">
          <input type="submit" name="search" value="Search">
        </form>
        <div class="section-list">
          Sections:
          {% for category in categories  %}
            <span><a href="{% url 'board' category.slug %}">{{ category.title }}</a></span>
          {% endfor %}
        </div>
        <div class="featured-links-paniation">
          Links:
          {% for  v in  featured_links_range %}
            <span><a href="{% url 'featured_links' %}?page={{v}}">({{ v }})</a></span>
          {% endfor %}
        </div>
        
        <p><b><a href="/" title="">Ghanaman</a></b> - Copyright &copy; 2015 STNetwork. All Right reserved. <a href="#">See how to advertise</a></p>
        <p><b>Disclaimer</b> Every Ghanaman member is solely responsible for anything that he/she posts or uploads on Ghanaman.</p>
      </div>
    </footer>
  </div>
	<!-- Javascript Files
		================================================== -->
		
	<!-- initialize jQuery Library -->
  <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
  <!-- bootstrap -->
  <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#goup").click(function(e){
        e.preventDefault();
        $(window.opera ? 'html' : 'html, body').animate({
          scrollTop: 0
        },500);// for 1/2 seconds
      });
    });
  </script>
  {% block script %}
        
  {% endblock %}

</body>
</html>
