{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <h2>Login To Ghanaman</h2>
      <div class="board">
        <div class="board-header">
          <b>Login Without Password:</b>
        </div>
        <div class="board-content board-content-odd board-content-last text-center">
          <p class="message-error">{{ message_user_not_found }}</p>
          <form action="{% url 'login_without_password' %}" method="post" class="form-inline"> 
            {% csrf_token %}
            <div class="form-group">
              <label for="Username">User name or Email Address: </label>
              <input type="text" name="username_or_email">
            </div>
            <input type="submit" name="Login" value="Login">
            <p>(enter a name or an e-mail address and a mail containing your login code will be sent to the e-mail address you registered with)</p>
          </form>
        </div>
      </div>

      <div class="board">
        <div class="board-header">
          <b>Login With Password:</b>
        </div>
        <div class="board-content board-content-odd board-content-last text-center">
          <p class="message-error">{{ message }}</p>
          <form action="" method="post" class="form-inline"> 
            {% csrf_token %}
            {% for error in form.non_field_errors %} {{ error }} {% endfor %}
            <div class="form-group">
              <label for="Username">Username: </label>
              <input type="text" id="Username" placeholder="Username" name="username">
                {% for error in form.username.errors %} {{ error }} {% endfor %}
            </div>
            <div class="form-group">
              <label for="Password">Password: </label>
              <input type="password" id="Password" placeholder="Password" name="password">
                 {% for error in form.password.errors %} {{ error }} {% endfor %}
            </div>
            <input type="submit" name="Login" value="Login">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}